<div class="topHeader paddingTopSection">
    <div class="container">
        <div class="topBanner">
            <div class="colLeft topBannerInfo">
                <div class="mobileWrapper">
                    <!--                    mobail-->
                    @if (bp.isMiniMobile()) {
                        <div class="videoWrapper">
                            <video #mobileVideo autoplay muted playsinline loop preload="auto"
                                   poster="/img/main_mob_poster-1.webp">
                                <source src="/video/new_main_mob_video-1.webm" type="video/webm">
                            </video>
                        </div>
                    }



                    <h1 class="mainPageTitle">Your iGaming <span class="text-accent">Software Provider</span></h1>


                    <div class="sectionText  sectionText-69a157e8c7eca">
                        <p>As an experienced iGaming software provider, we offer suitable solutions for your business.
                            Get what you
                            need – a ready-made online casino, sportsbook, swift API integration to a vast library of
                            over 17,500
                            games, or a full-fledged iGaming platform.</p>
                    </div>
                    <div class="topBannerBtnWrapper">
                        <a [routerLink]="'/contact-us'"
                           class="mainButton  BtnCustom_694631446"
                           [target]="LinkTarget.Blank"
                        >
                            <div class="button__text mainButtonText">Let's start</div>
                            <svg
                                    width="14"
                                    height="14"
                                    viewBox="0 0 14 14"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    [icon]="'arrow-top-left'"
                            >
                            </svg>
                        </a>
                    </div>
                    @if (bp.isMiniMobile()) {
                        <img
                                animate.enter="chip-fade-in"
                                [src]="'/img/chip_main_mob_1-1.webp'"
                                alt="chip main mobile 1"
                                class="mainPageChipMob1"
                                width="132" height="132"
                                aria-hidden="true">

                        <img
                                animate.enter="chip-fade-in"
                                [src]="'/img/chip_main_mob_2-1.webp'"
                                alt="chip main mobile 2"
                                class="mainPageChipMob2"
                                width="175" height="175"
                                aria-hidden="true">
                    }

                </div>
            </div>
            <div class="colRight topBannerVideo">
                <div class="gif">
                    <!-- firstVideo -->
                    <video
                        #firstVideo
                        autoplay
                        muted
                        playsinline
                        preload="auto"
                        class="video big_video"
                        poster="/img/main-banner-img-1.webp"
                    >
                        <source src="/video/main_video_1-1.webm" type="video/webm">
                    </video>

                    <!-- secondVideo -->
                    <video
                        #secondVideo
                        muted
                        playsinline
                        loop
                        preload="auto"
                        class="video big_video"
                        poster="/img/main-banner-img.webp"
                        style="display: none;"
                    >
                        <source src="/video/main_video_2-1.webm" type="video/webm">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
