<footer>
  <div class="container">
    <div class="footerGrid">
      <div class="item">
        <div class="footerLogo">
          <svg [icon]="'logo'" width="146" height="52" viewBox="0 0 146 52"></svg>
        </div>
      </div>
      <div class="item">
        <div class="col socialContactsCol">
          <div class="socialNav">
            <div class="socialTitle">FOLLOW US</div>
            <ul class="social">
              <li>
                <a
                  href="https://www.instagram.com"
                  aria-label="Instagram"
                  [target]="LinkTarget.Blank"
                  rel="nofollow"
                >
                  <div class="socialIconWrapper">
                    <svg [icon]="'instagram'" width="13" height="13" viewBox="0 0 13 13"></svg>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com"
                  aria-label="Facebook"
                  [target]="LinkTarget.Blank"
                  rel="nofollow"
                >
                  <div class="socialIconWrapper">
                    <svg [icon]="'meta'" width="7" height="13" viewBox="0 0 7 13"></svg>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com"
                  aria-label="Youtube"
                  [target]="LinkTarget.Blank"
                  rel="nofollow"
                >
                  <div class="socialIconWrapper">
                    <svg [icon]="'youtube'" width="17" height="11" viewBox="0 0 17 11"></svg>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com"
                  aria-label="Linkedin"
                  [target]="LinkTarget.Blank"
                  rel="nofollow"
                >
                  <div class="socialIconWrapper">
                    <svg [icon]="'linkdin'" width="13" height="13" viewBox="0 0 13 13"></svg>
                  </div>
                </a>
              </li>

            </ul>
          </div>
          <div class="colInner">
            <div class="footerMenuTitle">
              <div class="footerMenuTitle">Contact Us</div>
              <ul class="contacts">
                <li>
                  <a href="mailto:info@nuxgame.com" rel="nofollow">infonuxgame.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="footerMenuTitle">Products</div>
          <ul class="footerNav">
            <li>
              <a [routerLink]="'/online-casino'">Online Casino</a>
            </li>
            <li>
              <a [routerLink]="'/sportsbook'">Sportsbook</a>
            </li>
            <li>
              <a [routerLink]="'/bitcoin-casino'">Crypto Casino</a>
            </li>
            <li>
              <a [routerLink]="'/affiliate-system'">Affiliate System</a>
            </li>
            <li>
              <a [routerLink]="'/agent-system'">Agent System</a>
            </li>
            <li>
              <a [routerLink]="'/casino-game-aggregation'">Game Aggregator</a>
            </li>
            <li>
              <a [routerLink]="'/telegram-casino'">Telegram Casino</a>
            </li>
            <li>
              <a [routerLink]="'/sweepstakes-casino-software'">Sweepstakes Casino</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="footerMenuTitle">Solutions</div>
          <ul class="footerNav">
            <li>
              <a [routerLink]="'/casino-api'">Casino API</a></li>
            <li>
              <a [routerLink]="'/turnkey'">Turnkey</a>
            </li>
            <li>
              <a [routerLink]="'/legal-services'">Legal Services</a>
            </li>
            <li>
              <a [routerLink]="'/gamification-and-loyalty'">Gamification &amp; Loyalty System</a>
            </li>
            <li>
              <a [routerLink]="'/sports-betting-api'">Betting API</a>
            </li>
            <li>
              <a [routerLink]="'/aml-and-kyc'">AML &amp; KYC</a>
            </li>
            <li>
              <a [routerLink]="'/games'">Game Providers</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="footerMenuTitle">MENU</div>
          <ul class="footerNav">
            <li>
              <a [routerLink]="'/partners'">Partners</a>
            </li>
            <li>
              <a [routerLink]="'/games'">Providers</a>
            </li>
            <li>
              <a [routerLink]="'/demo'">Demo</a>
            </li>
            <li>
              <a [routerLink]="'/blog'">Blog</a>
            </li>
            <li>
              <a [routerLink]="'/contact-us'">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="footerMenuTitle">INFO</div>
          <ul class="footerNav">
            <li>
              <a [routerLink]="'/terms-and-conditions'">Terms and Conditions</a>
            </li>
            <li>
              <a [routerLink]="'/privacy-policy'">Privacy Policy</a>
            </li>
            <li>
              <a [routerLink]="'/cookie-policy'">Cookie Policy</a>
            </li>
            <li>
              <a [routerLink]="'/responsible-gambling'">Responsible Gambling</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item" style="display: none"></div>
      <div class="item">
        <div class="footerLogos">
          <div class="logo">
            <img [src]="'/img/onjn_logo-1.webp'" alt="onjn logo">
          </div>
          <div class="logo">
            <img [src]="'/img/GambleAware-logo-1.webp'" alt="GambleAware logo">
          </div>
          <a
            class="logo"
            [target]="LinkTarget.Blank"
            rel="nofollow"
          >
            <img [src]="'/img/gcb-1.svg'" alt="gcb logo">
          </a>
          <div class="logo">
            <img src="https://nuxgame.com/wp-content/uploads/2025/04/powered-by-aws-1.png" alt="aws logo">
          </div>
          <div class="logo">
            <div class="dmca">
              <a
                target="_blank"
                rel="nofollow"
                title="DMCA.com Protection Status"
                class="dmca-badge"
              >
                <img
                  loading="lazy"
                  [src]="'/img/dmca_premi_badge_4-1.png'"
                  alt="dmca logo"
                >
              </a>
            </div>
          </div>
          <div class="logo">
            <img [src]="'/img/respon-1.webp'" alt="responsible gambling">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="col flex footerGrid1">
          <div class="divWrap">
            <p class="copyWrites">The website is owned and operated by NuxGame.</p>
            <p class="copyWrites">© 2018-2026 NuxGame. All rights reserved.</p>
            <div class="copyWrites">
              <ul class="footerIcons">
                <li>
                  <img
                    [src]="'/img/18_years.svg'"
                    alt="18 years"
                    title="18 years"
                    width="23"
                    height="23"
                  >
                </li>
                <li>
                  <img
                    [src]="'/img/ssl.svg'"
                    alt="SSL"
                    title="SSL"
                    width="24"
                    height="25"
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
